
.main {
  display: flex;
  flex-flow: row nowrap;
}

.display {
  flex-basis: 50vw;
   background-color: #0B3954;
  color: white;
  height: 350px;
  
}

.options {
  flex-basis: 50vw;
 
}

.options-list {
  list-style: none;
  margin-top: -10px;
}

button {
  background-color: #0BC9CD;
  text-align: center;
margin: 10px;
padding: 10px;
width: 150px;
height: 50px;
border: 2px solid black;
}
