
/*.views {*/
/*    position: relative;*/
/*    top: 500px;*/
   
/*}*/
.wrapper {
    font-family: Trebuchet MS; 
    position: relative;
    border: 10px solid black;
    /*background-color: blue;*/
    /*display: flex;*/
 /*   justify-content: center;*/
 /*   align-items: center;*/
    width: 700px;
    height:550px;
    /*padding: 100px;*/
   margin: 50px 450px;
  
}
.header {
    font-size: large;
    color: white;
    background-color: #009FB7;
    height: 60px;
    position: relative;
    top: -2px;
    padding: 10px;
    
}
.main {
    height: 100px;
    position: relative;
    margin-left: 40px;
    top: -3px;
}
/*#a {*/
/* background-color: #1D8A99 ; */
/*}*/
/*#b {*/
/* background-color: #0BC9CD ; */
/*}*/
/*#c {*/
/* background-color: #14FFF7 ; */
/*}*/
/*#d {*/
/* background-color: #8FBFE0; */
/*}*/
/*#e {*/
/* background-color: #7C77B9 ; */
/*}*/
/*#f {*/
/* background-color: #394F49 ; */
/*}*/
/*#g {*/
/* background-color: #0B3954 ; */
/*}*/
/*#h {*/
/* background-color: #009FB7 ; */
/*}*/